# Dependencies
node_modules

# Build output
.next
out
build
dist

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store

# Git
.git

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
